# Qt Creator构建相关
build/
build-*/

# 编译产物与缓存
*.o
*.exe
*.dll
*.so
*.a
*.lib
*.exp
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.manifest
*.res
*.sbr
*.suo
*.user
*.pro.user
*.vcxproj.user
*.ncb
*.aps
*.sln
*.opensdf
*.sdf
*.sqlite
*.qch
*.qhc
*.qmlc
*.jsc
*.moc
*.uic
*.rcc
*.qrc.cpp

# IDE临时文件
.qt/
.qtcreator/
.qtcreator.user*
.qmake.stash
*.pro.user*
*.pri.user*

# 系统文件
Thumbs.db
.DS_Store
desktop.ini

# 其他IDE配置（如VS Code）
.vscode/